<div class="row">
    <div class="col-6">
      <p>second works!</p>
      <img src="{{src}}" width="60%">
      <!-- <img [src]="src"> -->
    </div>
    <div class="col-6 mt-5">
      <button type="button" class="btn btn-primary" (click)="next()">Next</button>
      <button type="button" class="btn btn-success" (click)="previous()">Previous</button>
      <button type="button" class="btn btn-danger" (click)="slide(1000)">Slider</button>
      <button type="button" class="btn btn-warning" (click)="stop()">Stop</button>
    </div>
  </div>
